/**All the style is handled by this file*/

/* Scrollbar Styling **/
$scrollbar-width: 7px;
$scrollbar-height: 7px;
$scrollbar-border-radius: 10px;
$scrollbar-track-bg-color: hsla(0, 0%, 87%, 0.75);
$scrollbar-thumb-bg-color: rgba(0, 0, 0, 0.18);

.custom-scrollbar {
	&::-webkit-scrollbar {
		height: $scrollbar-height;
		width: $scrollbar-width;
	}

	&::-webkit-scrollbar-track {
		border-radius: $scrollbar-border-radius;
		background-color: $scrollbar-track-bg-color;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: $scrollbar-border-radius;
		background-color: $scrollbar-thumb-bg-color;
	}

	scrollbar-color: $scrollbar-thumb-bg-color $scrollbar-track-bg-color;
	scrollbar-width: thin;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

//-------------------------------//
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-overflow-scrolling: touch;
	// background-color: $body-bg;
	// #f0f5f9 #cdcfd959
	background-color: #f0f5f9;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	@extend .custom-scrollbar;
}

$enable-negative-margins: true !default;

a {
	text-decoration: none !important;
}

.mt-n50 {
	margin-top: -3.125rem;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-grabbing {
	cursor: grabbing;
}

.fs-14px {
	font-size: .875rem;
}

.fs-12px {
	font-size: .75rem;
}

.custom-transition {
	transition: 0.3s ease-in-out;
}

.dropdown {
	&__hide-caret:after {
		display: none !important;
	}
}

/**Border style dashed*/
.border-dashed {
	border-style: dashed;
}

.min-h-400px {
	min-height: 400px;
}

/** Hover state styling for nav-link **/
.nav-pills .nav-link:not(.active):hover {
	color: var(--bs-white);
	background-color: var(--bs-gray-dark);
	transition: 0.3s ease-in-out;
}

.radio-togglers {
	background-color: var(--bs-gray-dark);
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

.radio-togglers span {
	padding: 5px 15px;
	color: var(--bs-gray-500);
	display: block;
	border-radius: 5px;
	cursor: pointer;
}

.radio-togglers input[type="radio"] {
	display: none;
}

.radio-togglers input[type="radio"]:checked+span {
	background-color: white;
	color: var(--bs-dark);
	font-weight: bold;
}

.custom-label {
	font-size: 0.875rem;
	margin-bottom: .3125rem;
	font-weight: 600;
	opacity: 0.6;
}

/** Upload avatar image*/
.upload-image {
	width: 128px;
	height: 128px;

	.edit-btn {
		width: 2.5rem;
		height: 2.5rem;
		right: -0.0625rem;
	}
}

.sortable-ghost {
	opacity: 0.6;
	background-color: var(--bs-light);
}

.hover-text__primary {
	&:hover * {
		color: var(--bs-primary) !important;
		transition: 0.3s ease-in-out;
	}
}

.bg-custom:after {
	content: 'Choose image to upload';
	position: absolute;
	top: .9375rem;
	width: 100%;
	height: 100%;
	font-size: 1.75rem;
	color: var(--bs-gray-500);
	font-weight: bold;
	text-align: center;
}

/* for About, Contact Pricing */
.about-container,
.pricing-container,
.contact-container,
.hero-section,
.features-container {
	margin-top: 70px;
}

@media screen and (max-width: 446px) {

	.about-container,
	.pricing-container,
	.contact-container,
	.hero-section,
	.features-container {
		margin-top: 110px;
	}
}

.loader {
	width: 35px;
	height: 80px;
	position: relative;
}

.loader:after {
	content: "";
	position: absolute;
	inset: 0 0 20px;
	border-radius: 15px 15px 10px 10px;
	padding: 1px;
	background: repeating-linear-gradient(-45deg, #91d2e2 0 8px, #1296a7 0 12px) content-box;
	--c: radial-gradient(farthest-side, #000 94%, #0000);
	-webkit-mask:
		linear-gradient(#0000 0 0),
		var(--c) -10px -10px,
		var(--c) 15px -14px,
		var(--c) 9px -6px,
		var(--c) -12px 9px,
		var(--c) 14px 9px,
		var(--c) 23px 27px,
		var(--c) -8px 35px,
		var(--c) 50% 50%,
		linear-gradient(#000 0 0);
	mask:
		linear-gradient(#000 0 0),
		var(--c) -10px -10px,
		var(--c) 15px -14px,
		var(--c) 9px -6px,
		var(--c) -12px 9px,
		var(--c) 14px 9px,
		var(--c) 23px 27px,
		var(--c) -8px 35px,
		var(--c) 50% 50%,
		linear-gradient(#0000 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude, add, add, add, add, add, add, add, add;
	-webkit-mask-repeat: no-repeat;
	animation: l2 3s infinite;
}

.loader:before {
	content: "";
	position: absolute;
	inset: 50% calc(50% - 4px) 0;
	background: #e0a267;
	border-radius: 50px;
}

@keyframes l2 {
	0% {
		-webkit-mask-size: auto, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0
	}

	10% {
		-webkit-mask-size: auto, 25px 25px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0
	}

	20% {
		-webkit-mask-size: auto, 25px 25px, 25px 25px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0
	}

	30% {
		-webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 0 0, 0 0, 0 0, 0 0, 0 0
	}

	40% {
		-webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 0 0, 0 0, 0 0, 0 0
	}

	50% {
		-webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 25px 25px, 0 0, 0 0, 0 0
	}

	60% {
		-webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 25px 25px, 25px 25px, 0 0, 0 0
	}

	70% {
		-webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 25px 25px, 25px 25px, 25px 25px, 0 0
	}

	80%,
	100% {
		-webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 25px 25px, 25px 25px, 25px 25px, 200% 200%
	}
}

@media (min-width: 768px) {
	.bsb-pricing-3 .bsb-pricing-popular {
		margin-top: -3.5rem;
	}
}

.bsb-circle {
	--bsb-cs: 125px;
	border-radius: 50%;
	height: var(--bsb-cs);
	width: var(--bsb-cs);
}

.bsb-btn-circle {
	align-items: center;
	backface-visibility: hidden;
	border-radius: 50% !important;
	display: inline-flex;
	height: 2.5rem;
	justify-content: center;
	line-height: 1;
	padding: 0;
	width: 2.5rem;
}

.bsb-faq-2 .accordion-button:focus {
	box-shadow: none;
}

/*Spinner*/
.spinner {
	width: 50px;
	aspect-ratio: 1;
	display: grid;
	animation: l14 4s infinite;
}

.spinner::before,
.spinner::after {
	content: "";
	grid-area: 1 / 1;
	border: 8px solid;
	border-radius: 50%;
	border-color: red red #0000 #0000;
	mix-blend-mode: darken;
	animation: l14 1s infinite linear;
}

.spinner::after {
	border-color: #0000 #0000 blue blue;
	animation-direction: reverse;
}

@keyframes l14 {
	100% {
		transform: rotate(1turn)
	}
}